extends layout

block content
    .canvas-container
        canvas#connect4()
    script(src="https://cdn.jsdelivr.net/npm/p5@1.11.2/lib/p5.min.js")
    script(src="/javascripts/connect-4/lib/ai.js")
    script(src="/javascripts/connect-4/lib/arrow.js")
    script(src="/javascripts/connect-4/lib/board.js")
    script(src="/javascripts/connect-4/lib/button.js")
    script(src="/javascripts/connect-4/lib/confetti.js")
    script(src="/javascripts/connect-4/lib/easing-styles.js")
    script(src="/javascripts/connect-4/lib/piece.js")
    script(src="/javascripts/connect-4/lib/rainbow.js")
    script(src="/javascripts/connect-4/lib/scale.js")
    script(src="/javascripts/connect-4/lib/game.js")
    script(src="/javascripts/connect-4/sketch.js")