extends layout

block content
    .canvas-container
        canvas#connect4()
    script.
        isCoop = #{isCoop};
    script(src="https://cdn.jsdelivr.net/npm/p5@1.11.2/lib/p5.min.js")
    script(src="/javascripts/connect-4/lib/ai.js")
    script(src="/javascripts/connect-4/lib/arrow.js")
    script(src="/javascripts/connect-4/lib/button.js")
    script(src="/javascripts/connect-4/lib/connect4-logic.js")
    script(src="/javascripts/connect-4/lib/connect4-visuals.js")
    script(src="/javascripts/connect-4/lib/easing-styles.js")
    script(src="/javascripts/connect-4/lib/piece.js")
    script(src="/javascripts/connect-4/lib/scale.js")
    script(src="/javascripts/connect-4/sketch.js")