extends layout

block content
    .canvas-container
        canvas#numberlink()
    script(src="https://cdn.jsdelivr.net/npm/p5@1.11.2/lib/p5.min.js")
    script(src="/javascripts/numberlink/lib/colors.js")
    script(src="/javascripts/numberlink/lib/numberlink-logic.js")
    script(src="/javascripts/numberlink/lib/numberlink-visuals.js")
    script(src="/javascripts/numberlink/lib/scale.js")
    script(src="/javascripts/numberlink/sketch.js")